.chat__inputText{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
    border-top: 1px solid var(--line-color-separator);
    background-color: var(--panel-footer-background);
    
}

.chat__inputText > form{
    flex: 1;
    display: flex;
}

.chat__inputText >form > input{
    flex: 1;
    border-radius: 30px;
    outline-width: 0;
    padding: 10px;
    border: none;
}

.chat__inputText >form > button{
    display:none;
}

.chat__inputText > .MuiSvgIcon-root{
    padding: 10px;
    color: var(--icon-color);
}