.chat__content{
    flex:1;
    background-image: url("https://i.pinimg.com/originals/3a/26/ab/3a26ab1ed14cc32e4a2ee1d740d385b0.jpg");
    background-repeat: repeat;
    background-position:center;
    padding: 15px;
    overflow-y: scroll;
}